* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #578f77;
    --secondary-color: #3b7571;

    --black-text: #000000;
    --white-text: #ffffff;
    --secondary-text: #565656;

    --table-background: #fafafa;
}

body {
    height: 100%;
}

/* Layout das Páginas - Menu Lateral + Header + Content + Footer */
#layout {
    display: flex;
}

/* Menu Lateral */
.menu {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 200px;
    min-height: 100vh;
    padding: 25px;

    & .logo-link {
        text-align: center;
    }

    & .nav {
        & .nav-list {
            display: flex;
            flex-direction: column;
            gap: 20px;

            & .nav-item {
                width: max-content;

                & .nav-link {
                    color: var(--white-text);
                    font-weight: bold;
                }

                & .nav-link::after {
                    content: '';
                    background-color: var(--white-text);
                    display: block;
                    margin-top: 2px;
                    width: 0;
                    height: 2px;
                    border-radius: 50px;
                }

                & .nav-link:hover::after {
                    width: 100%;
                    transition: 0.5s;
                }
            }
        }
    }
}

/* Página - Header + Content + Footer */
#page {
    width: 100%;

    /* Header da Página */
    & .header {
        color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding: 50px;

        & .primary-logo {
            & .wordmark {
                color: var(--black-text);
            }
        }

        & .clinic-details {
            & > span {
                & > h3 {
                    color: var(--black-text);
                }
            }
        }
    }

    /* Conteúdo da Homepage */
    & .homepage-content {
        & .about {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            padding: 25px;

            & .about-details {
                display: flex;
                flex-direction: column;
                gap: 20px;

                & .wordmark {
                    color: var(--primary-color);
                }

                & .about-content {
                    color: var(--black-text);
                    margin-bottom: 15px;
                    width: 400px;
                    font-size: smaller;
                    line-height: 1.5;
                }

                & .button {
                    color: var(--primary-color);
                    width: 145px;
                    padding: 15px;
                    text-align: center;
                    border: 1px solid var(--primary-color);
                }
            }
        }

        & .stats {
            background:
                linear-gradient(#3b75717f, #3b7571),
                url('https://images.pexels.com/photos/6235017/pexels-photo-6235017.jpeg');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;

            & .stats-item {
                color: var(--white-text);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                padding: 100px 50px;

                & .bi {
                    font-size: 50px;
                }

                & .number {
                    font-size: xx-large;
                }

                & .label {
                    font-size: medium;
                }
            }
        }

        & .our-team {
            padding: 25px;
            text-align: center;
        }
    }

    /* Conteúdo da Página de Serviços - Horários e Planos */
    & .services-content {
        & #table-hours {
            & .table-body {
                & > tr {
                    & > td {
                        padding: 10px;
                        border-bottom: 1px solid #ddd;

                        & .bi {
                            color: red;
                            font-size: large;
                            font-weight: bold;
                        }

                        & .appointment-services {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            & .appointment {
                                background-color: var(--primary-color);
                                color: var(--white-text);
                                padding: 5px;
                                border-radius: 10px;
                                font-size: xx-small;
                            }
                        }
                    }

                    & .hours {
                        color: var(--primary-color);
                        font-size: smaller;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
        }

        & #table-plans {
            & .table-body {
                & > tr {
                    & .plan-price {
                        text-align: center;
                        padding: 40px;

                        & .price {
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            color: var(--secondary-text);

                            & .edges {
                                font-size: small;
                            }

                            & .central {
                                font-size: 50px;
                            }
                        }

                        & > p {
                            font-size: larger;
                            color: var(--secondary-color);
                        }
                    }

                    & .plan-benefits {
                        padding: 15px 20px;
                        text-align: center;

                        & .benefits {
                            color: var(--secondary-text);
                            margin: auto;
                            padding-bottom: 10px;
                            border-bottom: solid 1px #ddd;

                            & .bi {
                                color: var(--secondary-color);
                            }
                        }
                    }
                }
            }

            & .table-footer {
                background-color: var(--table-background);
                text-align: center;

                & > tr {
                    & > td {
                        & .plan-signup-btn {
                            background-color: var(--primary-color);
                            color: var(--white-text);
                            margin: 25px;
                            width: 120px;
                            padding: 15px;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
                        }

                        & .plan-signup-btn:hover {
                            scale: 1.1;
                            transition: 0.5;
                        }
                    }
                }
            }
        }
    }

    /* Conteúdo da Página Sobre Nós */
    & .about-content {
        & .hero {
            & .about-details {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 150px;

                & .about-content {
                    width: 500px;
                    line-height: 1.5;
                }
            }
        }

        & .service-areas {
            padding: 70px;

            & .section-title {
                & .sub-title {
                    margin-bottom: 50px;
                }
            }

            & .services {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 50px;
                margin: 0 auto;
                max-width: 1300px;

                & .service-card {
                    display: flex;
                    justify-content: center;
                    gap: 10px;

                    & .bi {
                        color: var(--primary-color);
                        font-size: 40px;
                    }

                    & .services-details {
                        & .services-title {
                            margin-bottom: 10px;
                        }

                        & .services-content {
                            width: 350px;
                        }
                    }
                }
            }
        }
    }

    /* Footer da Página */
    & .footer {
        background-color: var(--secondary-color);
        color: var(--white-text);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: auto;
        padding: 100px 50px;

        & .footer-details > *:not(:last-child) {
            margin-bottom: 25px;
        }
    }
}

/* Mídias Sociais da Clínica */
.social-midia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    & .social-item {
        & .social-link {
            color: rgba(255, 255, 255, 0.8);
            padding: 10px;
        }

        & .social-link:hover {
            color: var(--white-text);
        }
    }
}

/* Hero das Páginas */
.hero {
    background:
        linear-gradient(#578f777f, #578f77),
        url('https://images.pexels.com/photos/6235124/pexels-photo-6235124.jpeg');
    background-size: cover;
    background-position: center;
    color: var(--white-text);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;

    & .hero-details {
        & .hero-title {
            margin-bottom: 25px;
            width: 300px;
            font-weight: normal;
        }

        & .hero-content {
            width: 400px;
            font-size: smaller;
            line-height: 1.5;
        }
    }
}

/* Secções com Tabelas */
.table-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;

    & table {
        color: var(--secondary-text);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
        border-collapse: collapse;

        & .table-header {
            & tr {
                text-align: center;

                & th {
                    background-color: var(--secondary-color);
                    color: var(--white-text);
                    width: 400px;
                    padding: 15px;
                    font-weight: bold;
                }
            }

            & tr > * {
                border-left: 1.5px solid #ddd;
            }
        }

        & .table-body {
            background-color: var(--table-background);
        }
    }
}

/* Símbolo + Nome - Marca Gráfica */
.primary-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Somente o Nome - Marca Gráfica */
.wordmark {
    & .part2 {
        font-weight: normal;
        letter-spacing: 2px;
    }
}

/* Detalhes da Clínica */
.clinic-details {
    display: flex;
    align-items: center;
    gap: 10px;

    & .bi {
        font-size: 30px;
    }

    & > span {
        & > h3 {
            margin-bottom: 5px;
            font-weight: bold;
            font-size: medium;
        }

        & .clinic-info {
            font-size: small;
        }
    }
}

/* Títulos Personalizados para as Secções */
& .section-title {
    color: var(--secondary-color);
    text-align: center;

    & .title {
        font-size: xx-large;
        font-weight: normal;
        margin-bottom: 5px;
    }

    & .sub-title {
        font-size: smaller;
        font-weight: normal;
        letter-spacing: 1px;
    }
}
